/* THIS IS MY CSS FILE WHERE I WILL BE ADDING ALL MY STYLING */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #deb7ff;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 484px;
}
